body {
  margin: 0;
}

#App {
  display: flex;
}

.WorkoutContainer {
  width: 25vw;
  height: 100vh;
}

.WorkoutDisplay {
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WorkoutDisplay img {
  width: 50%;
}

.WorkoutDisplay select {
  width: 30%;
}

.WorkoutList {
  overflow: scroll;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-flex-start;
  background-color: gray;
}

.WorkoutFilter select {
  width: 100%;
  height: 5vh;
}

.WorkoutItem {
  font-size: 3vh;
  margin-top: 2vh;
  background-color: #f7d559;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WorkoutBottomBun {
  background-color: #f7d559;
  height: 5vh;
  border-top: 4vh solid #6b1c00;
  display: flex;
  align-content:space-around;
  align-items: center;
  justify-content: center;
}

.WorkoutBottomBun button {
  margin: 2vw;
  width: 7vw;
}
